

.navbar{
    display:flex;
    justify-content: space-evenly;
    background-color: rgb(42, 230, 83);
    color:black;
    height: 50px;
    font-size: 40px;
}

.navbar li{
    list-style:none;
}

.navbar li a{
    text-decoration: none;   
    color: rgb(255, 255, 255);
}

.navbar li a:hover{
    color: rgb(255, 90, 13);
}
